<nav class="isabel-nav">
  <div class="nav-container">
    <div class="logo-wrapper">
      <a routerLink="/">
        <img src="assets/img/logo.png" alt="MJ Espinoza Logo" class="nav-logo">
      </a>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
      <li><a routerLink="/libros" routerLinkActive="active">Libros</a></li>
      <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
      <li><a routerLink="/noticias" routerLinkActive="active">Noticias</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
  </div>
</nav>
